<div *ngIf="intern">
<form #form="ngForm" (ngSubmit)="isPostOrPut()">
    <p class="name"><label for="intern-name">實習生姓名：</label>
        <input class="inputdate" 
                id="intern-name" 
                placeholder="name"
                name="name"
                placeholder="請輸入姓名" 
                maxlength="8"
                minlength="2" 
                pattern="[\u4e00-\u9fa5]{2,4}"
                required 
                #namengModel="ngModel" 
                [ngModel]="intern.name" 
                (ngModelChange)="insuredNameChange(namengModel.value,namengModel.errors)">　
            <span class="error-message">{{ nameError }}</span></p>

    <p class="Another"><label for="intern-sex">性別： </label>
        <input type="radio" name="sex"
                #sexngModel="ngModel" [(ngModel)]="intern.sexCode" [value]="1">男
        <input type="radio" name="sex"
                #sexngModel="ngModel" [(ngModel)]="intern.sexCode" [value]="2">女</p>

    <p class="Borndate"><label for="intern-borndate">生日：</label>
        <select [(ngModel)]="selectYear" name="year">
            <option [value]="intern.borndate.getFullYear()" 
                    *ngIf="isPut">{{ intern.borndate.getFullYear() }}</option>
            <option value="" *ngIf="isPut">————</option>

            <option [value]="0" *ngIf="isPost">請選擇</option>
            <option *ngFor="let yyyy of year" [value]="yyyy">{{ yyyy }}</option>
        </select>／

        <select [(ngModel)]="selectMonth" name="month" (ngModelChange)="setDate($event)">
            <option [value]="intern.borndate.getMonth()+1"  
                    *ngIf="isPut">{{ intern.borndate.getMonth()+1 }}</option>
            <option value=""  *ngIf="isPut">————</option>

            <option [value]="0" *ngIf="isPost">請選擇</option>
            <option *ngFor="let mm of month" [value]="mm">{{ mm }}</option>
        </select>／

        <select [(ngModel)]="selectDay" name="day">
            <option [value]="intern.borndate.getDate()"  
                    *ngIf="isPut">{{ intern.borndate.getDate() }}</option>
            <option value="" *ngIf="isPut">————</option>

            <option [value]="0" *ngIf="isPost">請選擇</option>
            <option *ngFor="let dd of day" [value]="dd">{{ dd }}</option>
        </select>

    <p class="name"><label for="intern-line">Line ID：</label>
        <input class="inputdate"
                name="lineId"
                id="intern-name"
                placeholder="Line Id"
                maxlength="50"
                minlength="6"
                pattern="[\d|a-zA-Z]+"
                #linengModel="ngModel"
                required [ngModel]="intern.lineId" 
                (ngModelChange)="insuredLineChange(linengModel.value,linengModel.errors)">　
            <span class="error-message">{{ lineIdError }}</span>
        </p>
    
        <p class="name"><label for="intern-phone">連絡電話：</label>
        <select [(ngModel)]="selectArea" name="areaCode" style="margin-right:0.5rem"
                (ngModelChange)="clearPhoneNumber()">
            <option [value]="0">區碼</option>
            <option *ngFor="let Area of areaCode" [value]="Area">0{{ Area }}</option>
            <option [value]="">——</option>
            <option [value]="9">手機</option>
        </select>
        <input  *ngIf="selectArea > 0"
                class="inputdate"
                name="phonenumber"
                id="intern-name"
                placeholder="請輸入電話號碼"
                maxlength="15"
                #phonengModel="ngModel"
                inputDirective
                [value]="selectArea"
                [ngModel]="intern.phonenumber" 
                (ngModelChange)="insuredPhoneChange(phonengModel.value,phonengModel.errors)">　
                <span class="error-message">
                    <!--<ng-container *ngIf="phonengModel.errors?.['required']">此為避田欄位</ng-container>
                    <ng-container *ngIf="phonengModel.errors?.['validateEmail']">信箱格是錯誤</ng-container>-->
                    {{ phonenumberError }}
                </span>
        </p>


        <p class="Another"><label for="new-intern">電子信箱：</label>
        <input class="inputdate"
                name="eMail"
                id="new-intern"
                placeholder="e-mail"
                maxlength="50"
                minlength="2"
                #eMailngModel="ngModel" 
                required email
                [ngModel]="intern.eMail" 
                (ngModelChange)="insuredEMailChange(eMailngModel.value,eMailngModel.errors)">　
            <span class="error-message">{{ eMailError }}</span>
        </p>
    <div class="ButtonArea">
            <button type="Post"
                    class="add-button"
                    [disabled]="form.invalid">確定</button>
            <button type="Back" (click)="back()">取消</button>
    </div>
</form>
</div>
