table{
      font-size:16px; 
      border:1px solid #000; 
      width:600px;
      border:1px solid #000;
      border-collapse:collapse;
      margin-bottom: 2rem;
    }
    .internData{
      width: 360px;
      border:1px solid rgb(5, 2, 2);
      padding:20px;
      background-color:#ffffff
    }
    .subtitle{
      width: 140px;
      background-color: #a54a00;
      padding:10px;
      border:1px solid #000;
      color:#fff;
    }