<div class="title" *ngIf="intern && showCode != 0">
        <p class="back">
        <button *ngIf="showCode != 3 && showCode != 5" 
            type="Back" (click)="back()">關閉</button>

        <p class="function" *ngIf="showCode == 1">資料修改
        <p class="function" *ngIf="showCode == 2">刪除警告
        <p class="function" *ngIf="showCode == 3">新增資料
        <p class="function" *ngIf="showCode == 4">查詢結果
    
        <p class="titlebutton" *ngIf="showCode != 3 && showCode != 5">
            <button type="Update" (click)="showCode=1; setCode(1)">修改</button>
            <button type="Delete" (click)="showCode=2; setCode(2);">刪除</button>
    </p>
</div>

<div class="NoticeText" *ngIf="intern">
    <p *ngIf="showCode == 1">正在修改{{intern.sort}}號「{{intern.name}}」的資料
    <p *ngIf="showCode == 2">確定刪除「{{intern.name}}」嗎?
    <p *ngIf="showCode == 3">請輸入實習生的資料
    <p *ngIf="showCode == 4">【{{ intern.name }}】的個人資料
</div>

<div class="Show" *ngIf="intern"> 
    <div class="Update" *ngIf="showCode == 1">
        <app-intern-form-edit   [intern]="intern"
                                [isPut]="true"
                                (refreshPage)="back()" 
                                (backPage)="back()"></app-intern-form-edit>
    </div>

    <div class="Delete" *ngIf="showCode == 2 ">
        <div clas ="ButtonArea">
            <button type="Delete" (click)="delete(intern)">確定</button>
            <button type="Back" (click)="back()">取消</button>
        </div>  
    </div>

    <div class="Post" *ngIf="showCode == 3">
        <div class="Input">
            <app-intern-form-edit   [intern]="intern"
                                    [isPost]="true"
                                    (refreshPage)="back()" 
                                    (backPage)="back()"></app-intern-form-edit>
        </div>
    </div>  

    <div class="Search" *ngIf="showCode==4">
        <app-search [intern]="intern"></app-search>
    </div>
    
</div>