<div *ngIf="notes">
    <div class="read" *ngIf="showcode == 0">
        <h2>【{{ notes.noteTitle }}】</h2>
        <p class="name">實習生：{{ notes.name }} &emsp; 信箱：{{ notes.email }}</p>
        <div class="date">
            <span>建立時間：{{ notes.dateCreate | date: 'yyyy-MM-dd  ahh:mm:ss' }}</span>
            <span class = "ModifitedDateShow">上次修改：{{ notes.dateModifited | date:'yyyy-MM-dd  a hh:mm:ss' }}</span>
        </div>
        <div class="Note">{{notes.note}} </div>
        <div class="ButtonArea">
        <button type="Update" (click)="showcode = 1; selectList()">修改</button>  
        <button type="Back" (click)="back()">關閉</button> 
    </div>
    </div>

    <div class="Update" *ngIf="showcode == 1">
        <ul>
            <div class="Input">
                <h2>修改【{{ notes.noteTitle }}】中</h2>
                <p class="title"><label for="Notes-title">標題：</label>
                <input id="Notes-title" [(ngModel)]="notes.noteTitle" placeholder="請輸入標題...">

                
                <span class="select-intern">實習生姓名：
                    <select [(ngModel)]="notes.nameId">
                        <option [ngValue]="notes.nameId" >{{ notes.name }}</option>
                        <option *ngFor="let interns of interns" 
                        [ngValue] = "interns.id"> {{ interns.name }} </option>
                    </select>
                </span>
                </p>
                <div class="note">
                    <textarea [(ngModel)]="notes.note" name="new-note" rows="6" cols="90"  
                    placeholder="請輸入..."></textarea>
                </div>
                <div class="ButtonArea">
                <button type="Update" (click)="save()">修改</button>
                 <button type="Back" (click)="back()">取消</button>
                </div>
            </div>
        </ul>
    </div>

    <div class="Update" *ngIf = "showcode == 1.5">
        <h2 *ngIf="nameError">請選擇實習生！</h2>
        <h2 *ngIf="titleEmpty">標題不得為空！</h2>
        <h2 *ngIf="titlelimit">標題不得超過15個字！</h2>
        
        <div class="ButtonArea">
            <button type="Back" (click)="upPage()">返回</button> 
        </div>
    </div>
    <div class="Delete" *ngIf="showcode == 2">
        <h2>確定刪除「{{ notes.noteTitle }}」這篇文章嗎?</h2>
        <div class = "ButtonArea">
            <button type="Delete" (click)="delete(notes)">確定</button>
            <button type="Back" (click)="back()">取消</button>
        </div>  
    </div>

    <div class="Post" *ngIf="showcode == 3" >
            <h2> 新增筆記</h2>

            <p class="title"><label for="new-title">標題： </label>
            <input id="new-title"  placeholder="請輸入標題" #interntitle>
            
            <span class="select-intern">實習生姓名：
                <select #internname>
                        <option value="請選擇實習生">請選擇實習生</option>
                        <option *ngFor="let interns of interns"  value = {{interns.id}}>{{interns.name}}
                        </option>
                    </select>
                    </span>
            </p>
            <div class="note">
                <textarea name="new-note" rows="6" cols="90"  #internnote
                placeholder="請輸入..."></textarea>
            </div>
        <div class="ButtonArea">
            <button type="Post" class="add-button" 
                (click)="post(internname.value,interntitle.value,internnote.value)">增加</button>
            <button type="Back"  (click)="back()">取消</button>
        </div>
    </div>  
</div>