h1{
    text-align: center;
    color: rgb(155, 66, 2);
    -webkit-text-stroke: 1em #ffffff;
    font-family: 微軟正黑體, Helvetica, sans-serif;
    font-size: 3.5rem;
}
body {
    font-family: 微軟正黑體;
    background-image: url('image/Logo.png');
    background-position:left top;
    background-size: 390px 300px;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: 1500px;
}

@media screen and (max-device-width: 768px){
    body{
        width: auto;
    }
  }
