.title{
  text-align: center;
  font-size: 30px;
  padding-bottom: 0.8rem;
  border-bottom-style: inset;
}
.List{
  margin-top: 10px;
  height: 400px;
  overflow-y: auto;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

ul{
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

li,.intern{
  display: flex;
  flex-direction: row;
  align-items: center;  
  text-align:center ;
  padding-right: 1rem;
  padding-left: 1rem;
}

.intern{
  padding-left: 0rem;
  border-radius: 10px;
}
.intern:hover{
  background-color: rgba(131, 131, 131, 0.515);
}

.Lock{
  width: 88px;
  padding-right: 0.5rem;
}
.Sort{
  width: 44px;
}
.Name{
  width: 220px;
  font-size:20px; 
  text-align: left;
}
.Sex{
  width: 66px;
}

h3{
  height: 487px;
  line-height: 487px;
  color: rgba(169, 128, 81, 0.648);
}