.internDate-select{
    width:520px;
    border-right-style: inset ;
    text-align: left;
    padding-right: 1rem;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.internDate-edit{
    width: 780px;
    padding-left: 1rem;
}

.interns{
    height: 487px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 11px 8px 13px -11px;
}